#bottles-list {
    position: absolute;
    width: 100%;
    top: 10vh;
    display: flex;
}

.column {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottle {
    width: 90%;
    height: 10vh;
    background: #fdfdfd;
    margin: 1vh 0;
    padding: 1.5vh;
    border-radius: 2vh;
    border: 3px solid #b4b4b4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottle:hover {
    background: #bbbbbb;
    cursor: pointer;
}

.bottle-name {
    margin: 0.5vh 0;
    font-size: 3vh;
    font-family: 'League Spartan', sans-serif;
}

.bottle-capacity {
    margin: 0;
    font-size: 1.5vh;
    font-family: 'League Spartan', sans-serif;
}

