.health-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    top: 10vh;
    padding: 0;
    margin: 1vh 0;
}

.health-menu li {
    font-family: 'League Gothic', sans-serif;
    font-size: 4vh;
    color: #737373;
    cursor: pointer;
}

.health-menu li.active {
    color: #d42c2c;
}