#amount-container {
    opacity: 1;
    position: absolute;
    top: 38%;
    width: 100%;
    height: 20%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 3;
}
#water-amount, #target-amount, #ml {
    width: 100%;
    display: inline;
    font-size: 5vh;
    font-weight: lighter;
    font-family: 'Bebas Neue', sans-serif;
}
#water-amount-container {
    padding-bottom: 1%;
    border-bottom: 1px solid #000000;
    width: 50%;
}
#target-amount-container {
    padding-top: 1%;
}
#input-container {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    z-index: 99;
}
.water-modal {
    display:none;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    background: #fdfdfd;
    width: 90%;
    padding: 15px;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    z-index: 200;
}

.water-modal h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.water-modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.water-modal input {
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

.water-modal button {
    padding: 8px;
    font-size: 16px;
}

.close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;
}