#drink-text {
    color: #737373;
    font-size: 3vh;
    font-family: 'League Gothic', sans-serif;
    font-weight: lighter;
    margin: 0.5vh;
    text-align: center;
}
#timer-text {
    font-size: 10vh;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-weight: lighter;
    margin: 0;
}
#start-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: #fdfdfd;
    width: 100%;
    border-radius: 2vh;
    z-index: 200;
    font-size: 2vh;
}
.reminder-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.reminder-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 2vh;
    margin-left: 2vh;
}
.reminder-container h2 {
    font-weight: lighter;
    font-family: 'League Gothic', sans-serif;
    margin: 2vh 0;
    padding-left: 2vh;
}
.toggle {
    height: 8vh;
    width: 8vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2vh;
    cursor: pointer;
}
#reminder-time-input {
    border: none;
    color: #2a747b;
    font-size: 3vh;
    width: 95%;
    font-weight: bold;
    text-align: left;
    padding: 0 1vh;
}
/* #reminder-time-ui h2 {
    font-family: 'League Gothic', sans-serif;
    font-weight: lighter;
    margin: 2vh 0;
    padding-left: 2vh;
}
#reminder-time-ui ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    margin-left: 2vh;
    padding: 0;
    margin-right: 2vh;
} */