#reminders-ui {
    position: absolute;
    width: 100%;
    top: 8vh;
}
#timer-text {
    font-size: 10vh;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.5vh;
}
#start-button {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    background: #fdfdfd;
    width: 90%;
    padding: 1vh;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
    border-radius: 2vh;
    z-index: 200;
    font-size: 3vh;
}
#reminder-time-text {
    font-size: 2vh;
    text-align: center;
}
#reminder-time-ui {
    height: 14vh;
    top: 30vh;
    padding: 2vh 0;
}
#reminder-time-ui ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    margin-left: 2vh;
    padding: 0;
    margin-right: 2vh;
}