.splash-wrapper {
    aspect-ratio: 9/16;
    height: 90vh;
    width: auto;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    position: relative;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}

#splash {
    opacity: 1;
    position: fixed;
    scale: 0.9;
    top: 25%;
    left: 50%;
    width: auto;
    height: 12%;
    aspect-ratio: auto;
    transform: translate(-55%, -15%);
    -webkit-transform: translate(-55%, -15%);
    -ms-transform: translate(-55%, -15%);
    z-index: 100;
}
#splash-bottom {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 100;
}