/**
 * BERNARDO, Jonathan
 * FERRER, Matt
 */

 /**SHARED STYLES*/
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

@keyframes fadeinall {
    0% {
        opacity: 1; 
    }
    97% {
        opacity: 0; 
    }
    98% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0); 
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        z-index: -1; 
    } 
}

@font-face {
  font-family: 'League Gothic';
  src: url('./fonts/LeagueGothic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.phone-wrapper {
    aspect-ratio: 9/16;
    height: 90vh;
    width: auto;
    background: #efecef;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    position: relative;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#fadein {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    background-color: #FDFDFD;
    z-index: 999;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation: fadeinall 1s normal both;
    animation: fadeinall 1s normal both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; 
}

#bottles-header-title {
    font-size: 3vh;
    font-weight: bold;
}
.navbar {
    opacity: 1;
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: #FDFDFD;
    border-top: 3px solid #b4b4b4;
    z-index: 99;
    height: 10vh;
    max-height: 95px;
}
.navicon {
    max-height: 10vh;
    width: auto;
    height: 8vh;
}
.navbar ul {
    width: 100%;
    max-height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.navbar li {
    height: 100%;
    text-align: center;
}
.topbar {
    opacity: 1;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 8vh;
    background-color: #FDFDFD;
    z-index: 99;
}
.topbar h1 {
    font-size: 3vh;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0.5vh;
    left: 3vh;
}
.bottle-options {
    opacity: 1;
    position: absolute;
    top: 2vh;
    width: 25vh;
    height: 50%;
    background-color: #FDFDFD;
    z-index: 99;
    right: 5%;
    border: none;
    font-weight: 600;
    font-size: 2.5vh;
    text-align: right;
}
.bottle-options:focus {
    outline: none;
}
#wave {
    opacity: 1;
    position: absolute;
    top: 65vh;
    width: 100%;
    height: auto;
    z-index: 0;
}
#water {
    opacity: 1;
    position: absolute;
    bottom: 10vh;
    width: 100%;
    height: 0%;
    background-color: #39BECB;
    z-index: 0;
}
#page-background {
    background-color: #efecec;
    padding-top: 8vh;
    width: 90%;
    height: 75vh;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: auto;
}
.line-break {
    width: 90%;
    border: none;
    border-top: 3px solid #737373;
    position: relative;
    margin: 0 auto;
}